@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Silkscreen;


}

html{
    font-size: 62.5%;
}

.canvas-wrapper{
    position: relative;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.title-text{
    font-size: 5rem;
    color: #f68e56;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.main-button{
    background-color: transparent;
    border-style: solid;
    border-width: 0.5rem;
    border-color: #acd373;
    color: #f26c4f;
    font-size: 3rem;
    width: 15%;
    height: 5rem;
}